<html>
    <head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if refresh_url %}
	<META HTTP-EQUIV="Refresh" CONTENT="{{delay}}; URL={{refresh_url}}">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="https://www.transport-nantes.com/site.css">
	{% if javascript_file %}
	<script type="text/javascript" src="{{ javascript_file }}" async></script>
	{% endif %}
	{% if javascript_inline %}
	<script type="text/javascript">
	 {{ javascript_inline }}
	</script>
	{% endif %}
	<title>{{title}}</title>
	<style>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" type="text/css" href="site.css">
	 <link rel="icon" type="image/png" href="favicon.png">
	 {% if css_text %}
	 {{ css_text }}
	 {% endif %}
	</style>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//data.p27.eu/p/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
    </head>
    <body>
	{{body}}
    </body>
</html>
