body, html {
    height: 100%;
    font-family: "Arial";
}

/* The logo */
.hero-head-left {
    position: absolute;
    left: 30px;
    top: 20px;
}
.hero-head-right {
    position: absolute;
    right: 30px;
    top: 20px;
    color: white;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("cycliste_dark.jpg");

    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
p.bigger-text {
    font-size: 180%;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 55%;
    left: 30px;
    color: white;
}

.contact-button {
    background-color: #F4991E;	/* Orange. */
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 12px;
}

.bg {
    /* The image used */
    background-image: url("http://transport-nantes.com/cyliste_dark.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

